<p>
	A new lesson was created for <%= @student.firstname %>.
</p>

<blockquote>
	<%= @lesson.reminder %>
</blockquote>

<p>
	To view this lesson, visit the student's page:
</p>

<%= link_to "Student Record", @student %>

<p>
	Love Lesson Notes? Share it with your friends!
</p>