<p>
Hi <%= @student.firstname %>,
</p>

<p>
Your next lesson is <strong><%= @lesson.lesson_date.strftime('%a, %B %e, %l:%M %p ') %>.</strong>
</p>

<% if @lesson.studentnote.present? %>
	<p>
	Here's a note from your teacher:
	</p>
	<blockquote>
	<%= @lesson.studentnote %>
	</blockquote>
<% end %>

<p>See you next lesson!</p>

<p>-----------------------------------</p>

<p>Sent by LessonNotes on behalf of your fabulous teacher</p>
