/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.


@import "bootstrap";
@import "bootstrap-datepicker";

body {
	/*background-color: #B9C0C4;*/
}

.jumbotron {
	background-color: #e3e6e8;
}

.navbar {

	background-color: #F07142;
	color: white;
	padding: 0px 0px 0px 40px;
	border-bottom: 1px solid gray;
}

.navbar img {

	margin: 10px 10px 10px 0px;
}

.navbar-brand {
	/*background-image: image-url('Octaaf0320w.jpg');*/
	/*background-repeat: no-repeat;*/
	color: black;
	font-size: 32px;
	font-family: Impact, Charcoal, sans-serif;
	/*text-shadow: 1px 1px black;*/
}

.navbar-right {
	background-color: #174559;
	width: 40%;
	height: 150px;
	color: white;
	text-align: right;
	margin: 0;
	padding: 20px;

}

.container {
	background-color: white;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
}

.quote-bar {
	background-color: #B9C0C4;
	padding: 10px 20px 10px 50px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.nav-tabs {
	font-size: large;
	border: none;
}

#active {
    background-color: lightseagreen;
    color: #fff;
    border-color: white;
    border-bottom: none;
}



.nav-tabs li a {
	background-color: lightseagreen;
    color: #fff;
    border-color: white !important;
    text-shadow: 1px 1px black;
}


.header-bar {
	background-color: lightseagreen;
	color: black;
	padding: 10px 10px 5px 15px;
	margin-top: none;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.bg-white {
	background-color: white;
}

.btn {
	margin-bottom: 10px;
	white-space: normal;
	word-wrap: break-word;
}

.btn-info {
	background-color: #174559;
}

.btn-success {
	background-color: #F07142;
}

.btn-danger {
	background-color: #FF4847;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.card {
	margin-top: 20px;
}

.card-header {
	background-color: #B9C0C4;
}

.middle-links {
	padding-top: 100px;
}

.lesson-card {
	padding: 10px;
}

.lesson-card .card-header {
	margin-bottom: 10px;
}
 
.header-reminder {
	background-color: #ffbf80;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 10px;
	margin: 20px 0px 20px 0px;
}

.bottom {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page-footer {
	background-color: #174559;
	/*background-image: image-url('hip-square.png');*/
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid gray;

}

.page-footer li {
  	margin: -8px;
}