/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.


@import "bootstrap";
@import "bootstrap-datepicker";

.navbar {
	background-image: image-url('hip-square.png');
	background-color: lightseagreen;
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	border-bottom: 1px solid gray;
}

.navbar-brand {
	color: lightseagreen;
	font-size: 54px;
	font-family: Impact, Charcoal, sans-serif;
	text-shadow: 1px 1px black;
}

.container {

	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
}


.nav-tabs {
	font-size: large;
	border: none;
}

#active {
    background-color: lightseagreen;
    color: #fff;
    border-color: white;
    border-bottom: none;
}



.nav-tabs li a {
	background-color: lightseagreen;
    color: #fff;
    border-color: white !important;
}


.header-bar {
	background-color: lightseagreen;
	color: white;
	padding-left: 15px;
	margin-top: none;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.bg-white {
	background-color: white;
}

h2 {
	color: red;
}

.btn {
	margin-bottom: 10px;
}

.lesson-card {
	margin-top: 20px;
	border: 2px solid black;
	padding: 10px;
}
 
.header-reminder {
	background-color: #ffbf80;
}

.bottom {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer {
	background-color: lightseagreen;
	background-image: image-url('hip-square.png');
	color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid gray;

}